.hero {
    .hero-description {
        box-sizing: border-box;
        text-align: center;
    }
    .hero-image {
        text-align: center;
        .hero-img-intro {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "description image";
        align-items: center;
    }
    .hero {
        margin-top: 3.75em;
        margin-bottom: .625em;
        .hero-description {
            grid-area: description;
            text-align: left;
            max-width: 27.3em;
            .u-title {
                text-align: left;
                font-size: 3em;
            }
            .u-paragraph {
                text-align: left;
                padding-left: 0;
                font-size: 1.1em;
            }
        }
        .hero-image {
            grid-area: image;
        }
    }
}