.hero {
    // border: 1px solid red;
    .hero-description {
        box-sizing: border-box;
        text-align: center;
    }
    .hero-img-intro {
        max-width: 100%;
        // border: 1px solid red;
    }
}