.menu {
    // border: 2px solid red;
    position: fixed;
    display: block;
    top: -150%;
    left: 0;
    right: 0;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to top, var(--very-Dark-Blue) -15%, transparent 100%);
    .menu-content {
        padding: 0 1.4em;
        padding-top: 5.6em;
    }
    ul {
        // border: 1px solid black;
        padding: 0;
        background: var(--vary-Light-Gray);
        border-radius: 5px;
        // margin-top: 1em;
        li {
            list-style: none;
            a {
                display: block;
                padding: 0.8em 0;
                // border: 1px solid black;
                text-decoration: none;
                color: var(--very-Dark-blue);
                font-weight: 700;
            }
        }
    }
    li:first-of-type {
        padding-top: 0.5em;
    }
    li:last-of-type {
        padding-bottom: 0.5em;
    }
}

#menu.active {
    top: 0;
}