.slider {
    // border: 1px solid red;
    margin-top: 5em;
    text-align: center;
    margin-bottom: 2.5em;
    .slider-card {
        margin-top: 2.4em;
        background: var(--vary-Light-Gray);
        position: relative;
        border-radius: 4px;
        padding: 2em 0 0 0;
        img {
            width: 4.5em;
            height: 4.5em;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: -2.25em;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .glider-dots {
        .glider-dot {
            margin-top: 1.75em;
            margin-bottom: 2.8em;
            border: 1px solid var(--bright-Red);
            background: transparent;
        }
        .glider-dot.active {
            background: var(--bright-Red);
        }
    }
    .glider {
        overflow-y: scroll;
    }
    .slider-list::-webkit-scrollbar {
        display: none;
    }
    .slider-list {
        z-index: -1;
    }
}