.header {
  padding: 2.8em 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.header .header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-logo .logo {
  display: flex;
  align-items: center;
}
.header .header-logo .header-menu-content {
  display: flex;
  align-items: center;
}
.header .header-logo .header-menu-content .menu-icon {
  background-color: transparent;
  border: none;
  user-select: none;
  outline: none;
  height: 30px;
  z-index: 999;
}
.header .header-logo .header-menu-content .menu-icon #icon-hamburguer {
  display: block;
}
.header .header-logo .header-menu-content .menu-icon #icon-hamburguer.active {
  display: none;
}
.header .header-logo .header-menu-content .menu-icon #icon-close {
  display: none;
}
.header .header-logo .header-menu-content .menu-icon #icon-close.active {
  display: block;
}

.hero .hero-description {
  box-sizing: border-box;
  text-align: center;
}
.hero .hero-image {
  text-align: center;
}
.hero .hero-image .hero-img-intro {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
    align-items: center;
  }

  .hero {
    margin-top: 3.75em;
    margin-bottom: 0.625em;
  }
  .hero .hero-description {
    grid-area: description;
    text-align: left;
    max-width: 27.3em;
  }
  .hero .hero-description .u-title {
    text-align: left;
    font-size: 3em;
  }
  .hero .hero-description .u-paragraph {
    text-align: left;
    padding-left: 0;
    font-size: 1.1em;
  }
  .hero .hero-image {
    grid-area: image;
  }
}
.menu {
  position: fixed;
  display: block;
  top: -150%;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to top, var(--very-Dark-Blue) -15%, transparent 100%);
}
.menu .menu-content {
  padding: 0 1.4em;
  padding-top: 5.6em;
}
.menu ul {
  padding: 0;
  background: var(--vary-Light-Gray);
  border-radius: 5px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  display: block;
  padding: 0.8em 0;
  text-decoration: none;
  color: var(--very-Dark-blue);
  font-weight: 700;
}
.menu li:first-of-type {
  padding-top: 0.5em;
}
.menu li:last-of-type {
  padding-bottom: 0.5em;
}

#menu.active {
  top: 0;
}

.different {
  margin-top: 6.5em;
  text-align: center;
}
.different .item {
  display: grid;
  grid-template-columns: auto 1fr;
}
.different .u-track {
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: -21px;
  margin-left: -20px;
  border-radius: 0;
  padding-left: 2em;
}
.different .u-paragraph {
  grid-column: 1/span2;
}
.different span {
  background: var(--bright-Red);
  border-radius: 20px 20px 20px 20px;
  color: white;
  font-weight: 400;
  display: grid;
  place-items: center;
  padding: 0.5em 1.5em;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .different-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .different-grid .different-content {
    max-width: 27.3em;
    text-align: left;
    padding-left: 0;
  }
  .different-grid .u-paragraph {
    padding-left: 0;
    text-align: left;
    font-size: 1em;
  }
  .different-grid .different-items .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.75em;
  }
  .different-grid .different-items .item .u-track {
    margin: 0;
    background: none;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding-left: 0;
  }
  .different-grid .different-items .item .u-paragraph {
    grid-column: 2/4;
  }
}
.slider {
  margin-top: 5em;
  text-align: center;
  margin-bottom: 2.5em;
}
.slider .slider-card {
  margin-top: 2.4em;
  background: var(--vary-Light-Gray);
  position: relative;
  border-radius: 4px;
  padding: 2em 0 0 0;
}
.slider .slider-card img {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -2.25em;
  left: 50%;
  transform: translateX(-50%);
}
.slider .glider-dots .glider-dot {
  margin-top: 1.75em;
  margin-bottom: 2.8em;
  border: 1px solid var(--bright-Red);
  background: transparent;
}
.slider .glider-dots .glider-dot.active {
  background: var(--bright-Red);
}
.slider .glider {
  overflow-y: scroll;
}
.slider .slider-list::-webkit-scrollbar {
  display: none;
}
.slider .slider-list {
  z-index: -1;
}

.simplify {
  height: 25em;
  background: var(--bright-Red);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simplify .u-sub {
  font-size: 2.5em;
  color: var(--vary-Light-Gray);
}
.simplify .u-button {
  background: var(--vary-Light-Gray);
  color: var(--dark-Blue);
  box-shadow: none;
}

@media screen and (min-width: 1024px) {
  .simplify {
    height: 13.75em;
  }
  .simplify .simplify-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center end;
  }
  .simplify .u-sub {
    text-align: left;
  }
}
.footer {
  background: var(--very-Dark-Blue);
}
.footer .footer-form {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 3.12em;
}
.footer .footer-form .u-button {
  box-shadow: none;
  padding: 0.93em 1.87em;
}
.footer .footer-form .footer-form-input {
  padding: 0.93em 1.8em;
  border-radius: 30px;
  border: none;
  margin-right: 0.5em;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.75em;
}
.footer .footer-grid .footer-nav-right ul,
.footer .footer-grid .footer-nav-left ul {
  padding: 0;
  display: grid;
  margin-left: 2em;
}
.footer .footer-grid .footer-nav-right ul li,
.footer .footer-grid .footer-nav-left ul li {
  list-style: none;
}
.footer .footer-grid .footer-nav-right ul li a,
.footer .footer-grid .footer-nav-left ul li a {
  color: var(--vary-Light-Gray);
  text-decoration: none;
  display: block;
  margin-bottom: 1.25em;
  font-size: 0.8em;
}
.footer .footer-social ul {
  display: flex;
  justify-content: center;
  gap: 2.18em;
  padding: 0;
}
.footer .footer-social ul li {
  list-style: none;
}
.footer .footer-social ul li a img {
  width: 2.18em;
  height: 2.18em;
}
.footer .footer-logo {
  text-align: center;
  margin-top: 3.43em;
}
.footer .footer-pie {
  text-align: center;
  margin-top: 3.4em;
}
.footer .footer-pie img {
  margin-bottom: 3.4em;
}
.footer .footer-pie p {
  color: var(--vary-Light-Gray);
  margin: 0;
  padding-bottom: 1.8em;
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .footer .grid-foo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 50px;
    grid-template-areas: "logo      menu     menu     form" "social         menu     menu     pie";
  }
  .footer .footer-logo {
    display: grid;
    grid-area: logo;
    justify-content: start;
  }
  .footer .footer-form {
    grid-area: form;
  }
  .footer .footer-grid {
    grid-area: menu;
    margin: 0;
    display: grid;
    align-items: flex-start;
    position: relative;
    top: 50%;
    transform: translateY(-50px);
  }
  .footer .footer-grid .footer-nav-left ul,
.footer .footer-grid .footer-nav-right ul {
    margin-top: 0;
  }
  .footer .footer-social {
    display: grid;
    align-items: end;
    grid-area: social;
  }
  .footer .footer-social ul {
    gap: 12px;
    justify-content: start;
    margin: 0;
  }
  .footer .footer-social ul li a img {
    width: 22px;
    height: 22px;
  }
  .footer .footer-pie {
    display: grid;
    align-items: end;
    grid-area: pie;
    margin-top: 0;
  }
  .footer .footer-pie p {
    padding: 0;
  }
}
:root {
  --bright-Red: hsl(12, 88%, 59%);
  --dark-Blue: hsl(228, 39%, 23%);
  --dark--Grayish-Blue: hsl(227, 12%, 61%);
  --very-Dark-Blue: hsl(233, 12%, 13%);
  --very-Pale-Red: hsl(12, 100%, 96%);
  --vary-Light-Gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  color: var(--dark-Blue);
}

.wrapper {
  padding: 0 1.4em;
  max-width: 1111px;
  margin: 0 auto;
}

.wrapper-min {
  padding: 0 1.5em 0 1em;
}

.wrapper-min {
  padding-right: 0;
}
.wrapper-min .u-track {
  padding-right: 0;
}

.u-title {
  text-align: center;
  font-size: 2em;
  line-height: 1.4;
  margin: 0;
  font-weight: 700;
}

.u-paragraph {
  text-align: center;
  font-size: 0.8em;
  padding: 0 2.7em;
  line-height: 2;
  color: var(--dark--Grayish-Blue);
  margin-bottom: 2em;
}

.number {
  padding: 0 1.9em 0 0;
  text-align: left;
}

.u-sub {
  font-size: 1.91em;
  font-weight: 700;
  margin-top: 0;
}

.u-track {
  text-align: left;
  font-size: 0.9em;
  background: var(--very-Pale-Red);
  border-radius: 20px 0 0 20px;
  margin-bottom: 0;
}
.u-track span {
  display: inline-block;
  background-color: var(--bright-Red);
  padding: 0.68em 1.5em;
  border-radius: 50px;
  margin-right: 0.5em;
  color: var(--vary-Light-Gray);
}

.u-button {
  border: none;
  outline: none;
  background: var(--bright-Red);
  color: var(--vary-Light-Gray);
  padding: 1em 1.9em;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 1px 1em 1.2em -0.5em #f25f3a;
}

.is-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
